﻿.tags-list-wrapper {
    .post-tag-item {
        display: block;
        margin-bottom: 10px;
        transition: $firm-transition;

        &:hover {
            background-color: $firm-hover;
            cursor: pointer;
        }
    }
}

.selected-tag {
    background-color: $firm-hover;
}

@media only screen and (max-width: 992px) {
    .tags-list-wrapper {
        order: -1;

        .post-tag-item {
            display: inline-block;
            padding: 3px;
        }
    }
}

.post-wrapper {
    .card-body {
        .post-tags-wrapper {
            margin-bottom: 10px;
            background-color: $firm-high-sky;

            .post-tag-item {
                padding: 3px;
            }
        }

        .post-author {
            display: block;
            font-weight: 600;
        }

        .post-date {
            font-size: small;
        }


        .post-body {
            border-top: 1px solid $firm-grey-light;
            margin-top: 10px;
            padding-top: 10px;
        }
    }
}

.comment-wrapper {
    margin-top: 10px;
    border-left: 3px solid $firm-warm-grey;

    .comment-header {
        background-color: $firm-grey-light;

        .header-text {
            display: block;
            line-height: 24px;
            padding-left: 5px;
            font-weight: 600;
        }

        .header-date {
            display: block;
            padding-left: 5px;
            line-height: 20px;
            font-size: small;
        }
    }

    .comment-text,
    .card-link,
    .child-comments-wrapper {
        padding-left: 5px;
    }

    .replay-wrapper {
        padding-left: 5px;
    }
}

#replay-comment-form {
    padding: 10px;
    background-color: $firm-grey-light;
    border-radius: 0.25rem;
    margin-top: 10px;

    .inputs-wrapper {
        display: flex;
        justify-content: space-between;

        .input-wrapper {
            display: block;
            width: 49.8%;

            .form-control {
                width: 100%;
            }
        }
    }

    .validation-error {
        width: 60%;
        display: block;
        margin: auto;
        font-size: smaller;
        font-weight: 600;
        text-align: center;
        color: white;
        background-color: red;
        border-radius: 0px 0px 1rem 1rem;
        opacity: 0;
        transition: $firm-transition;
    }

    @media only screen and (max-width: 768px) {
        .inputs-wrapper {
            margin-bottom: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .input-wrapper {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    .input-wrapper {
        margin-bottom: 5px;
    }
}

.page-wrapper {
    display: flex;
    justify-content: center;
}

.no-data-wrapper {
    background-color: $firm-high-sky;
    border-radius: 0.25rem;
    margin-bottom: 10px;

    .no-data-text {
        text-align: center;
        display: block;
        font-size: x-large;
        font-weight: 600;
        color: $firm-warning-text;
    }

    .no-data-reload {
        text-align: center;
        display: block;
        font-size: x-large;
        font-weight: 600;
    }
}

#search-text-form {
    .input-group {
        border: 1px solid $firm-bs4-grey;
        border-radius: 0.25rem;
        margin-right: 10px;

        input.form-control {
            background-color: transparent;
            border: none;
            color: $firm-bs4-grey;
        }

        .clear-search {
            background-color: transparent;
            border: none;
            border-left: 1px solid $firm-bs4-grey;
            transition: $firm-transition;
            color: $firm-bs4-grey;

            &:hover {
                background-color: $firm-bs4-grey;
                cursor: pointer;
                color: $firm-grey-light;
            }
        }
    }
}
