﻿@using Microsoft.Extensions.Options
@inject IOptions<Settings> SettingsAccessor
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    The @SettingsAccessor.Value.AppName application is designed to test new Microsoft technologies for web development. It can be used without restrictions as is. If you want, you can make any changes and additions to your implementations.
</p>
