﻿@using SimpleBlog.DAL.Entities
@using Microsoft.Extensions.Options
@model IEnumerable<Tag>
@inject IOptions<BlogSettings> BlogAccessor

@{
    ViewData["Title"] = "Blog List";
}
<h2>@ViewData["Title"]</h2>

<div class="no-data-wrapper hiddenElement">
    <span class="no-data-text">There is no data for your request parameters!</span>
    <a href="#" id="reset-blog-with-reload" title="Click here to and reload posts with default parameters" class="card-link no-data-reload">Cleck here to reload all posts</a>
</div>
<div class="row justify-content-end">
    <div class="col-lg-8 col-md-12 blog-list-wrapper" id="blog-list-wrapper"></div>
    <div class="col-lg-2 col-md-12 tags-list-wrapper">
        <div class="card border-secondary mb-3">
            <div class="card-header">Tags</div>
            <div class="card-body">
                <span class="post-tag-item" data-tagID="0">#all posts</span>
                @foreach (var item in Model)
                {
                    <span title="Click to filter posts with @item.Name.ToUpper() tag" class="card-text post-tag-item" data-tagID="@item.Id">#@item.Name</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="page-wrapper">
    <div id="page-selection" class="pagination-sm"></div>
</div>

<div class="modal" id="confirm-comment-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm with reCAPTCHA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <div id="reCAPTCHA" style="display:inline-block"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section js{
    @*Post template to render post item by jsRender engine for post list*@
    <script id="post-template" type="text/x-jsrender">
        <div class="card border-secondary mb-3 post-wrapper">
            <div class="card-body">
                <div class="post-tags-wrapper">
                    {{for tags}}
                    <span class="post-tag-item">#{{:name}}</span>
                    {{/for}}
                </div>
                <span class="post-author">{{:postedBy}}</span>
                <span class="post-date">{{:date}}</span>
                <h4 class="card-title">{{:title}}</h4>
                <h6 class="card-text"><i>{{:description}}</i></h6>
                <div class="collapse post-body" id="post-body-{{:id}}">{{:text}}</div>
                <a href="#" class="card-link collapse-control" data-toggle="true" data-postID="{{:id}}">Read post</a>
                <a class="card-link" data-toggle="collapse" href="#post-comments-wrapper-{{:id}}" aria-expanded="false" aria-controls="post-comments-wrapper-{{:id}}">Comments {{:commentsCount}}</a>
                <a href="#" class="card-link replay-control" data-id="{{:id}}" data-postID="{{:id}}" data-itemID="0" data-author="{{:postedBy}}">Replay</a>
                <div class="replay-wrapper" id="replay-wrapper-{{:id}}0"></div>
                <div class="collapse post-comments-wrapper" id="post-comments-wrapper-{{:id}}"></div>
            </div>
        </div>
    </script>

    @*Comment template to render comment item by jsRender engine for post or another parent comment*@
    <script id="comment-template" type="text/x-jsrender">
        <div class="comment-wrapper">
            <div class="comment-header">
                <span class="header-text">{{:userName}}</span>
                <span class="header-date">{{:created}}</span>
            </div>
            <div class="comment-text">{{:text}}</div>
            <a href="#" class="card-link replay-control" data-id="{{:id}}" data-postID="{{:postID}}" data-itemID="{{:id}}" data-author="{{:userName}}">Replay</a>
            <div class="replay-wrapper" id="replay-wrapper-{{:postID}}{{:id}}"></div>
            <div class="child-comments-wrapper" id="child-comments-wrapper-{{:id}}" data-id="{{:id}}" data-postID="{{:postID}}"></div>
        </div>
    </script>

    @*Replay template to replay to post or comment with Google reCAPTCHA validation provided by modal window before submit*@
    <script id="replay-template" type="text/x-jsrender">
        <form id="replay-comment-form" data-postID="{{:postID}}" data-commentID="{{:commentID}}" action="/Home/CreateComment" method="POST">
            <h6 class="replay-to-record">Replay to {{:replaytTo}}</h6>
            <div class="inputs-wrapper">
                <div class="input-wrapper">
                    <input type="text" id="edit-replay-userName" class="form-control" name="UserName" placeholder="Your name" maxlength="256" value="" />
                    <span class="username-validation validation-error">Enter your name</span>
                </div>
                <div class="input-wrapper">
                    <input type="email" id="edit-replay-email" class="form-control" name="Email" placeholder="Your Email" maxlength="128" value="" />
                    <span class="email-validation validation-error">Enter your Email</span>
                </div>
            </div>
            <div class="input-wrapper">
                <textarea class="form-control" id="edit-replay-text" name="replay" placeholder="Your comment" rows="4" maxlength="8192"></textarea>
                <span class="text-validation validation-error">Enter text</span>
            </div>
            <input title="Submit your comment" class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="replay" value="Submin" />
        </form>
    </script>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&hl=en&render=explicit"
            async defer>
    </script>

    <script>
        //Options for pagination
        var defaultPage = @BlogAccessor.Value.Page;
        var defaultPageSize = @BlogAccessor.Value.PageSize;
        var defaultMaxVisible = @BlogAccessor.Value.MaxVisible;

        $(function () {
            blog.post.init();
        });

        var onloadCallback = function () {
            grecaptcha.render('reCAPTCHA', {
                'sitekey': '@BlogAccessor.Value.ReCAPTCHAKey',
                'callback': blog.post.verifyCallback,
                'theme': 'light'
            });
        };
    </script>
}
