.button-icon {
  margin-right: 5px; }

.app-logo {
  height: 28px; }

ul {
  list-style: none; }

.show-succsess-alert .modal-content {
  background-color: #DFF0D8; }

.show-danger-alert .modal-content {
  background-color: #F8D7DA; }

.show-info-alert .modal-content {
  background-color: #DFF0D8; }

.show-warning-alert .modal-content {
  background-color: #FCF8E3; }

.posts-list-table .post-operations-wrapper {
  display: flex;
  width: 100px;
  justify-content: space-between; }

.posts-list-table .published-status-wrapper .published-status {
  cursor: pointer; }

.post-table-head-wrapper {
  display: flex;
  justify-content: space-between; }
  .post-table-head-wrapper .post-table-header {
    display: inline-block; }

@media only screen and (max-width: 824px) {
  /* Force table to not be like tables anymore */
  #responsive-post-table {
    /* Hide table headers (but not display: none;, for accessibility) */
    /*
	Label the data
	*/ }
    #responsive-post-table table,
    #responsive-post-table thead,
    #responsive-post-table tbody,
    #responsive-post-table th,
    #responsive-post-table td,
    #responsive-post-table tr {
      display: block; }
    #responsive-post-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    #responsive-post-table tr {
      border: 1px solid #ccc; }
    #responsive-post-table td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left; }
    #responsive-post-table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold; }
    #responsive-post-table td:before {
      content: attr(data-title); } }

.edit-post-form-wrapper {
  margin-bottom: 15px; }
  .edit-post-form-wrapper .edit-post-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .edit-post-form-wrapper .edit-post-header-wrapper .buttons-wrapper {
      display: inline-flex;
      width: 104px;
      justify-content: space-between; }
      .edit-post-form-wrapper .edit-post-header-wrapper .buttons-wrapper .btn {
        width: 32px;
        height: 32px; }
  .edit-post-form-wrapper .published-wrapper {
    display: flex;
    justify-content: space-between; }
    .edit-post-form-wrapper .published-wrapper .is-published-wrapper {
      display: inline-flex;
      align-items: center; }
      .edit-post-form-wrapper .published-wrapper .is-published-wrapper label {
        margin: 0px 0px 0px 5px; }
    .edit-post-form-wrapper .published-wrapper .post-dates-wrapper {
      display: inline-flex; }
      .edit-post-form-wrapper .published-wrapper .post-dates-wrapper .datetime-post {
        width: 170px;
        font-size: small; }
  .edit-post-form-wrapper .form-group {
    position: relative; }
    .edit-post-form-wrapper .form-group label {
      font-weight: 600; }
    .edit-post-form-wrapper .form-group .title-validation-info,
    .edit-post-form-wrapper .form-group .descryption-validation-info,
    .edit-post-form-wrapper .form-group .text-validation-info {
      position: absolute;
      display: block;
      font-size: small;
      color: white;
      background-color: red;
      padding: 0px 5px;
      font-weight: 600;
      transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 512px) {
    .edit-post-form-wrapper .published-wrapper {
      flex-direction: column; }
      .edit-post-form-wrapper .published-wrapper .is-published-wrapper {
        margin-bottom: 10px; }
      .edit-post-form-wrapper .published-wrapper .post-dates-wrapper {
        width: 100%;
        flex-direction: column; }
        .edit-post-form-wrapper .published-wrapper .post-dates-wrapper .datetime-post {
          width: 100%;
          margin-bottom: 10px; } }
  .edit-post-form-wrapper .form-controls-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
    .edit-post-form-wrapper .form-controls-wrapper .add-tag-form-wrapper {
      display: inline-flex;
      justify-content: space-between;
      width: 300px; }
      .edit-post-form-wrapper .form-controls-wrapper .add-tag-form-wrapper .form-control {
        width: 196px; }
  .edit-post-form-wrapper .tags-wrapper {
    text-align: left;
    display: block;
    background-color: #ecf8ff; }
    .edit-post-form-wrapper .tags-wrapper .tag-group {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 5px 5px 10px;
      margin: 4px 2px 4px 2px;
      border: 1px solid #b4adad;
      background-color: white;
      transition: all 0.15s ease-in-out; }
      .edit-post-form-wrapper .tags-wrapper .tag-group:hover {
        background-color: #E9ECEF; }
      .edit-post-form-wrapper .tags-wrapper .tag-group .is-checked:hover {
        cursor: pointer; }
      .edit-post-form-wrapper .tags-wrapper .tag-group label {
        margin: 0px 5px 0px 5px; }
        .edit-post-form-wrapper .tags-wrapper .tag-group label:hover {
          cursor: pointer; }
      .edit-post-form-wrapper .tags-wrapper .tag-group .close-btn {
        color: #808080;
        cursor: pointer; }
  @media only screen and (max-width: 512px) {
    .edit-post-form-wrapper .form-controls-wrapper {
      flex-direction: column;
      height: 80px;
      align-items: center; } }

.comments-list-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem; }
  .comments-list-wrapper .comments-header-wrapper {
    display: flex;
    justify-content: space-between; }
  .comments-list-wrapper .comments-wrapper {
    padding: 5px; }

.post-comments {
  border: 1px solid #E9ECEF;
  margin-top: 15px; }
  .post-comments .card-header {
    display: flex;
    align-items: center; }
    .post-comments .card-header .post-controls-wrapper {
      display: inline-block;
      margin-right: 10px; }
      .post-comments .card-header .post-controls-wrapper button {
        width: 40px;
        height: 40px; }
    .post-comments .card-header .post-data-wrapper {
      display: inline-block; }
      .post-comments .card-header .post-data-wrapper .post-title {
        display: block; }
      .post-comments .card-header .post-data-wrapper .post-data {
        display: inline-block;
        font-size: small;
        margin-left: 10px;
        margin-right: 10px; }

.comment-wrapper {
  margin-top: 10px;
  border-left: 5px solid #b4adad; }
  .comment-wrapper .replay-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px; }
    .comment-wrapper .replay-header .controls-wrapper {
      display: inline-block;
      min-width: 104px;
      line-height: 40px; }
    .comment-wrapper .replay-header .replay-author-data .replay-author,
    .comment-wrapper .replay-header .replay-author-data .replay-date {
      display: block; }
    .comment-wrapper .replay-header .replay-author-data .replay-date {
      font-size: small; }
  .comment-wrapper .comment-body {
    padding-top: 5px;
    padding-left: 5px; }

.create-replay-wrapper {
  margin-top: 10px; }
  .create-replay-wrapper .create-replay-controls {
    display: flex;
    justify-content: flex-end; }
    .create-replay-wrapper .create-replay-controls button {
      margin: 0px 2px; }
