.button-icon {
  margin-right: 5px; }

.nav {
  background-color: #343A40; }

.app-logo {
  height: 48px; }

.hiddenElement {
  display: none; }

.body-content {
  margin-top: 80px; }

.tags-list-wrapper .post-tag-item {
  display: block;
  margin-bottom: 10px;
  transition: all 0.15s ease-in-out; }
  .tags-list-wrapper .post-tag-item:hover {
    background-color: #fff5bb;
    cursor: pointer; }

.selected-tag {
  background-color: #fff5bb; }

@media only screen and (max-width: 992px) {
  .tags-list-wrapper {
    order: -1; }
    .tags-list-wrapper .post-tag-item {
      display: inline-block;
      padding: 3px; } }

.post-wrapper .card-body .post-tags-wrapper {
  margin-bottom: 10px;
  background-color: #ecf8ff; }
  .post-wrapper .card-body .post-tags-wrapper .post-tag-item {
    padding: 3px; }

.post-wrapper .card-body .post-author {
  display: block;
  font-weight: 600; }

.post-wrapper .card-body .post-date {
  font-size: small; }

.post-wrapper .card-body .post-body {
  border-top: 1px solid #E9ECEF;
  margin-top: 10px;
  padding-top: 10px; }

.comment-wrapper {
  margin-top: 10px;
  border-left: 3px solid #b4adad; }
  .comment-wrapper .comment-header {
    background-color: #E9ECEF; }
    .comment-wrapper .comment-header .header-text {
      display: block;
      line-height: 24px;
      padding-left: 5px;
      font-weight: 600; }
    .comment-wrapper .comment-header .header-date {
      display: block;
      padding-left: 5px;
      line-height: 20px;
      font-size: small; }
  .comment-wrapper .comment-text,
  .comment-wrapper .card-link,
  .comment-wrapper .child-comments-wrapper {
    padding-left: 5px; }
  .comment-wrapper .replay-wrapper {
    padding-left: 5px; }

#replay-comment-form {
  padding: 10px;
  background-color: #E9ECEF;
  border-radius: 0.25rem;
  margin-top: 10px; }
  #replay-comment-form .inputs-wrapper {
    display: flex;
    justify-content: space-between; }
    #replay-comment-form .inputs-wrapper .input-wrapper {
      display: block;
      width: 49.8%; }
      #replay-comment-form .inputs-wrapper .input-wrapper .form-control {
        width: 100%; }
  #replay-comment-form .validation-error {
    width: 60%;
    display: block;
    margin: auto;
    font-size: smaller;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 0px 0px 1rem 1rem;
    opacity: 0;
    transition: all 0.15s ease-in-out; }
  @media only screen and (max-width: 768px) {
    #replay-comment-form .inputs-wrapper {
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #replay-comment-form .inputs-wrapper .input-wrapper {
        width: 100%;
        margin-bottom: 5px; } }
  #replay-comment-form .input-wrapper {
    margin-bottom: 5px; }

.page-wrapper {
  display: flex;
  justify-content: center; }

.no-data-wrapper {
  background-color: #ecf8ff;
  border-radius: 0.25rem;
  margin-bottom: 10px; }
  .no-data-wrapper .no-data-text {
    text-align: center;
    display: block;
    font-size: x-large;
    font-weight: 600;
    color: #ff0000; }
  .no-data-wrapper .no-data-reload {
    text-align: center;
    display: block;
    font-size: x-large;
    font-weight: 600; }

#search-text-form .input-group {
  border: 1px solid #868e96;
  border-radius: 0.25rem;
  margin-right: 10px; }
  #search-text-form .input-group input.form-control {
    background-color: transparent;
    border: none;
    color: #868e96; }
  #search-text-form .input-group .clear-search {
    background-color: transparent;
    border: none;
    border-left: 1px solid #868e96;
    transition: all 0.15s ease-in-out;
    color: #868e96; }
    #search-text-form .input-group .clear-search:hover {
      background-color: #868e96;
      cursor: pointer;
      color: #E9ECEF; }
