﻿.edit-post-form-wrapper {
    margin-bottom: 15px;

    .edit-post-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .buttons-wrapper {
            display: inline-flex;
            width: 104px;
            justify-content: space-between;

            .btn {
                width: 32px;
                height: 32px;
            }
        }
    }

    .published-wrapper {
        display: flex;
        justify-content: space-between;

        .is-published-wrapper {
            display: inline-flex;
            align-items: center;

            label {
                margin: 0px 0px 0px 5px;
            }
        }

        .post-dates-wrapper {
            display: inline-flex;

            .datetime-post {
                width: 170px;
                font-size: small;
            }
        }
    }

    .form-group {
        position: relative;

        label {
            font-weight: 600;
        }

        .title-validation-info,
        .descryption-validation-info,
        .text-validation-info {
            position: absolute;
            display: block;
            font-size: small;
            color: white;
            background-color: red;
            padding: 0px 5px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }
    }

    @media only screen and (max-width: 512px) {
        .published-wrapper {
            flex-direction: column;

            .is-published-wrapper {
                margin-bottom: 10px;
            }

            .post-dates-wrapper {
                width: 100%;
                flex-direction: column;

                .datetime-post {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .form-controls-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .add-tag-form-wrapper {
            display: inline-flex;
            justify-content: space-between;
            width: 300px;

            .form-control {
                width: 196px;
            }
        }
    }

    .tags-wrapper {
        text-align: left;
        display: block;
        background-color: $firm-high-sky;

        .tag-group {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 5px 5px 10px;
            margin: 4px 2px 4px 2px;
            border: 1px solid $firm-warm-grey;
            background-color: white;
            transition: $firm-transition;

            &:hover {
                background-color: $firm-grey-light;
            }

            .is-checked {
                &:hover {
                    cursor: pointer;
                }
            }

            label {
                margin: 0px 5px 0px 5px;

                &:hover {
                    cursor: pointer;
                }
            }

            .close-btn {
                color: $firm-dark-grey;
                cursor: pointer;
            }
        }
    }

    @media only screen and (max-width: 512px) {
        .form-controls-wrapper {
            flex-direction: column;
            height: 80px;
            align-items: center;
        }
    }
}
