﻿.posts-list-table {
    .post-operations-wrapper {
        display: flex;
        width: 100px;
        justify-content: space-between;
    }

    .published-status-wrapper {
        .published-status {
            cursor: pointer;
        }
    }
}

.post-table-head-wrapper {
    display: flex;
    justify-content: space-between;

    .post-table-header {
        display: inline-block;
    }
}

@media only screen and (max-width: 824px) {

    /* Force table to not be like tables anymore */
    #responsive-post-table {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }
        /*
	Label the data
	*/
        td:before {
            content: attr(data-title);
        }
    }
}
