﻿.comments-list-wrapper {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    .comments-header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .comments-wrapper {
        padding: 5px;
    }
}

.post-comments {
    border: 1px solid $firm-grey-light;
    margin-top: 15px;

    .card-header {
        display: flex;
        align-items: center;

        .post-controls-wrapper {
            display: inline-block;
            margin-right: 10px;

            button {
                width: 40px;
                height: 40px;
            }
        }

        .post-data-wrapper {
            display: inline-block;

            .post-title {
                display: block;
            }

            .post-data {
                display: inline-block;
                font-size: small;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.comment-wrapper {
    margin-top: 10px;
    border-left: 5px solid $firm-warm-grey;

    .replay-header {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;

        .controls-wrapper {
            display: inline-block;
            min-width: 104px;
            line-height: 40px;
        }

        .replay-author-data {
            .replay-author,
            .replay-date {
                display: block;
            }

            .replay-date {
                font-size: small;
            }
        }
    }

    .comment-body {
        padding-top: 5px;
        padding-left: 5px;
    }
}

.create-replay-wrapper {
    margin-top: 10px;

    .create-replay-controls {
        display: flex;
        justify-content: flex-end;

        button {
            margin: 0px 2px;
        }
    }
}
