﻿$succses-color: #DFF0D8;
$danger-color: #F8D7DA;
$info-color: #DFF0D8;
$warning-color: #FCF8E3;

.show-succsess-alert {
    .modal-content {
        background-color: $succses-color;
    }
}

.show-danger-alert {
    .modal-content {
        background-color: $danger-color;
    }
}

.show-info-alert {
    .modal-content {
        background-color: $info-color;
    }
}

.show-warning-alert {
    .modal-content {
        background-color: $warning-color;
    }
}
