﻿$firm-grey-light: #E9ECEF;
$firm-dark-grey: #808080;
$firm-warm-grey: #b4adad;
$firm-warm-yellow: #FFF3CD;
$firm-high-sky: #ecf8ff;
$firm-hover: #fff5bb;
$firm-transition: all 0.15s ease-in-out;
$firm-warning-text: #ff0000;
$firm-bs4-grey: #868e96;
