﻿@model int

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin">My Posts</a>
    </li>
    <li class="breadcrumb-item active">Comments</li>
</ol>

<div class="comments-list-wrapper">
    <div class="card-header comments-header-wrapper">
        <div class="comments-list-header">
            <i class="fa fa-comments-o button-icon"></i>Comments
        </div>
        <div class="main-controls-wrapper">
            <button title="Toggle show/collapse all comments" id="collapse-all-comments" class="btn btn-outline-secondary btn-sm"  data-toggle="collapse" data-target=".muliplay-collapse" aria-expanded="false" aria-controls="muliplay-collapse">
                <i class="fa fa-list" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="comments-wrapper"></div>
</div>

@section js{
    <script id="post-comment-template" type="text/x-jsrender">
        <div id="post-comments-{{:postID}}" class="post-comments">
            <div class="card-header">
                <div class="post-controls-wrapper">
                    <button title="Show/Collapse post comments" class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#post-comments-wrapper-{{:postID}}" aria-expanded="false" aria-controls="post-comments-wrapper">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="post-data-wrapper">
                    <span class="post-title"><b>Tilte:</b> <i><a title="Edit post" href="/admin/home/editpost/{{:postID}}">{{:title}}</a></i></span>
                    <span class="post-data"><b>Author:</b> {{:author}}</span>
                    <span class="post-data"><b>Posted:</b> {{:posted}}</span>
                    <span class="post-data"><b>Modified:</b> {{:modified}}</span>
                </div>
            </div>
            <div id="post-comments-wrapper-{{:postID}}" class="muliplay-collapse collapse show post-comments-wrapper"></div>
        </div>
    </script>

    <script id="comment-template" type="text/x-jsrender">
        <div class="comment-wrapper" data-ID="{{:id}}" data-postID="{{:postID}}" data-commentID="{{:commentID}}">
            <div class="replay-header bg-light">
                <div class="replay-author-data">
                    <span class="replay-author"><b>Commented by</b> {{:userName}}</span>
                    <span class="replay-date"><b>Posted</b> {{:created}}</span>
                </div>
                <div class="controls-wrapper">
                    {{if isVisible}}
                    <button class="btn btn-outline-primary btn-sm edit-comment-visible" data-ID="{{:id}}" data-isVisible="{{:isVisible}}" title="Hide comment">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    {{else }}
                    <button class="btn btn-outline-primary btn-sm edit-comment-visible" data-ID="{{:id}}" data-isVisible="{{:isVisible}}" title="Show comment">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </button>
                    {{/if}}
                    <button class="btn btn-outline-warning btn-sm edit-comment-replay" data-ID="{{:id}}" data-postID="{{:postID}}" title="Replay to comment"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
                    <button class="btn btn-outline-secondary btn-sm edit-comment-delete" data-ID="{{:id}}" title="Delete comment"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="comment-body">
                <span class="comment-text">{{:text}}</span>
                <div id="replaty-wrapper-{{:id}}" data-ID="{{:id}}"></div>
                <div id="child-comments-wrapper-{{:id}}" class="child-comments-wrapper">
                </div>
            </div>
        </div>
    </script>

    <script id="create-replay-template" type="text/x-jsrender">
        <div class="create-replay-wrapper" id="create-replay-wrapper-{{:id}}">
            <textarea id="create-replay-text-{{:id}}" class="form-control create-replay-text" name="text" rows="2"></textarea>
            <div class="card-header create-replay-controls">
                <button title="Cancel replay" class="btn btn-outline-primary replay-cancel" data-ID="{{:id}}">Cancel</button>
                <button title="Save replay" class="btn btn-outline-secondary replay-submit" data-ID="{{:id}}" data-postID="{{:postID}}">Save</button>
            </div>
        </div>
    </script>

    <script>
        var currentPostID = @Model;
    </script>

    <script type="text/javascript">
        $(function () {
            blog.comments.init();
        });
    </script>
}
