﻿@model PostViewModel

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin">My Posts</a>
    </li>
    <li class="breadcrumb-item active">Edit Post</li>
</ol>

<div class="card justify-content-lg-center edit-post-form-wrapper">
    <form asp-area="admin" asp-controller="home" asp-action="EditPostAsync" method="post" id="edit-post-form">
        <div class="card-header edit-post-header-wrapper">
            <span><i class="fa fa-pencil-square-o button-icon" aria-hidden="true"></i>Edit post</span>
            <div class="buttons-wrapper">
                <a href="/admin/Home/EditPost" class="btn btn-outline-info btn-sm" title="Add new post"><i class="fa fa-file-o" aria-hidden="true"></i></a>
                <a class="btn btn-outline-warning btn-sm" asp-area="Admin" asp-controller="Home" asp-action="Comments" asp-route-postID="@Model.Id" title="Comments"><i class="fa fa-comments-o button-icon"></i></a>
                <button id="delete-post-button" type="button" class="btn btn-outline-secondary btn-sm" title="Delete post" data-postID="@Model.Id"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
        <input asp-for="Id" style="display: none;" />
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" id="edit-post-title" maxlength="1024" />
                <span class="title-validation-info invisible">Enter title</span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" id="edit-post-descryption"></textarea>
                <span class="descryption-validation-info invisible">Enter description</span>
            </div>
            <div class="form-group">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" id="edit-post-text" class="form-control"></textarea>
                <span class="text-validation-info invisible">Enter text</span>
            </div>
            <div class="form-group published-wrapper">
                <div class="is-published-wrapper">
                    <input asp-for="IsPublished" id="edit-post-is-published" />
                    <label asp-for="IsPublished"></label>
                </div>
                <div class="post-dates-wrapper">
                    <span class="datetime-post"><b>Posted:</b> @Model.Posted</span>
                    <span class="datetime-post"><b>Modified:</b> @Model.Modified</span>
                </div>
            </div>
            <div class="form-check form-check-inline tags-wrapper">
                @if (Model.Tags != null && Model.Tags.Count > 0)
                {
                    foreach (var item in Model.Tags)
                    {
                        <div class="tag-group" data-tagID="@item.Id">
                            <input asp-for="@item.IsSelected" class="is-checked" id="tag-item-id-@item.Id" data-tagID="@item.Id" />
                            <label for="tag-item-id-@item.Id">@item.Name <i class="fa fa-times close-btn" aria-hidden="true" data-tagID="@item.Id"></i></label>
                        </div>
                    }
                }
            </div>
            <div class="form-controls-wrapper">
                <div class="add-tag-form-wrapper">
                    <input type="text" name="name" id="new-tag-name" placeholder="Tag name" value="" class="form-control" maxlength="256" />
                    <button id="new-tag-submit" class="btn btn-outline-secondary"><i class="fa fa-tag button-icon" aria-hidden="true"></i>Add tag</button>
                </div>
                <button type="submit" class="btn btn-outline-secondary submit-form-button">Save post</button>
            </div>
        </div>
    </form>
</div>

@section js{
    <script>
         var currentPostID = @Model.Id;
        $(function () {
            tinymce.init({
                selector: '#edit-post-text',
                height: 200,
                plugins: [
                    "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "table contextmenu directionality emoticons template textcolor paste textcolor colorpicker textpattern"
                ],

                toolbar1: "newdocument | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
                toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking template pagebreak restoredraft",
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'],

                menubar: false,
                toolbar_items_size: 'small',

                style_formats: [{
                    title: 'Bold text',
                    inline: 'b'
                }, {
                    title: 'Red text',
                    inline: 'span',
                    styles: {
                        color: '#ff0000'
                    }
                }, {
                    title: 'Red header',
                    block: 'h1',
                    styles: {
                        color: '#ff0000'
                    }
                }, {
                    title: 'Example 1',
                    inline: 'span',
                    classes: 'example1'
                }, {
                    title: 'Example 2',
                    inline: 'span',
                    classes: 'example2'
                }, {
                    title: 'Table styles'
                }, {
                    title: 'Table row 1',
                    selector: 'tr',
                    classes: 'tablerow1'
                }],

                templates: [{
                    title: 'Test template 1',
                    content: 'Test 1'
                }, {
                    title: 'Test template 2',
                    content: 'Test 2'
                }]
            });

            blog.editPost.init();
        });
    </script>
}