﻿
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">My Posts</li>
</ol>

<div class="card mb-3">
    <div class="card-header post-table-head-wrapper">
        <div class="post-table-header">
            <i class="fa fa-table button-icon"></i>My Posts
        </div>
        @Html.ActionLink("Add post", "EditPost", "Home", new { area = "admin" }, new { @class = "btn btn-outline-secondary btn-sm", title = "Add new post" })
    </div>
    <div class="card-body" id="responsive-post-table">
        <table class="table table-responsive table-bordered posts-list-table responsive-post-table" id="postsTable" width="100%" cellspacing="0">
            <thead class="responsive-post-table">
                <tr>
                    <th>Title</th>
                    <th>Posted</th>
                    <th>Modified</th>
                    <th>Comments</th>
                    <th>Published</th>
                    <th>Operations</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section js{
    <script id="post-operation-buttons" type="text/x-jsrender">
        <div class="post-operations-wrapper">
            <a title="Edit post" href='/admin/home/editpost/{{:postID}}' class='btn btn-outline-primary btn-sm edit-post'><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a>
            <a title="Edit comments for post" href='/admin/home/comments/{{:postID}}' class='btn btn-outline-warning btn-sm comments-to-post'><i class='fa fa-comments-o' aria-hidden='true'></i></a>
            <button type='button' title="Delete post" class='btn btn-outline-secondary btn-sm delete-post' data-postID='{{:postID}}'><i class='fa fa-trash-o' aria-hidden='true'></i></button>
        </div>
    </script>
    <script id="post-published-status" type="text/x-jsrender">
        {^{if published}}
        <input type="checkbox" name="published" class="published-status" title="Hide post" value="" checked data-postID="{{:postID}}" />
        {{else}}
        <input type="checkbox" name="published" class="published-status" title="Show post" value="" data-postID="{{:postID}}" />
        {{/if}}
    </script>
    <script>
        var postTable = $('#postsTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/admin/Home/GetPosts",
                "type": "POST",
            },
            columns: [
                { data: 'title' },
                { data: 'posted' },
                { data: 'modified' },
                { data: 'comments' },
                {
                    data: 'published',
                    "orderable": true,
                    className: "published-status-wrapper",
                    "width": "100px",
                    "render": function (data, type, row) {
                        var tmpl = $.templates("#post-published-status");
                        var options = { published: data, postID: row.id };
                        var html = tmpl.render(options);
                        return html;
                    },
                },
                {
                    data: 'id',
                    "orderable": false,
                    className: "post-operations",
                    "width": "100px",
                    "render": function (data) {
                        var tmpl = $.templates("#post-operation-buttons");
                        var options = { postID: data };
                        var html = tmpl.render(options);
                        return html;
                    },
                }
            ],
            createdRow: function (row, data, dataIndex) {
                var $row = $(row);

                $row.find('td:eq(0)').attr('data-title', 'Title');
                $row.find('td:eq(1)').attr('data-title', 'Posted');
                $row.find('td:eq(2)').attr('data-title', 'Modified');
                $row.find('td:eq(3)').attr('data-title', 'Comments');
                $row.find('td:eq(4)').attr('data-title', 'Published');
                $row.find('td:eq(5)').attr('data-title', 'Operations');
            }
        });
    </script>
    <script>
        $(function () {
            blog.postlist.init();
        });
    </script>
}
