﻿@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Identity

@inject IOptions<Settings> SettingsAccessor
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@SettingsAccessor.Value.AppName">
    <meta name="author" content="@SettingsAccessor.Value.Author">
    <link rel="icon" href="../../favicon.ico">
    <title>@ViewData["Title"] - @SettingsAccessor.Value.AppName</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("css", required: false)
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a title="SimpleBlog" class="navbar-brand" href="#"><img class="app-logo" src="~/images/blog.svg" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Cabinet</a></li>
                }
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0 hiddenElement" id="search-text-form">
                <div class="input-group">
                    <input id="search-text-input" class="form-control" type="text" maxlength="128" placeholder="Search" aria-label="Search">
                    <span title="Clear search field" class="input-group-addon clear-search" id="clear-search">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </div>
                <button id="search-text-submit" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year.ToString() - @SettingsAccessor.Value.AppName</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jsrender/jsrender.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jsrender/jsrender.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/twbs-pagination/jquery.twbsPagination.min.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
    @RenderSection("js", required: false)
</body>

</html>
