﻿@using Microsoft.Extensions.Options
@inject IOptions<Settings> SettingsAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SimpleBlog administration">
    <meta name="author" content="@SettingsAccessor.Value.Author">
    <title>SB Admin - SimpleBlog</title>
    <!-- Bootstrap core CSS-->
    <link href="~/lib/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/lib/startbootstrap-sb-admin-gh-pages/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/lib/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/lib/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet" />
    <link href="~/css/admin.min.css" rel="stylesheet" />

    @RenderSection("css", false)
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a title="@SettingsAccessor.Value.AppName" class="navbar-brand" href="/"><img class="app-logo" src="~/images/blog.svg" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My posts">
                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index" title="My blogs">
                        <i class="fa fa-rss button-icon"></i>
                        <span class="nav-link-text">My blogs</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Comments">
                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Comments" asp-route-postID="0" title="Comments">
                        <i class="fa fa-comments-o button-icon"></i>
                        <span class="nav-link-text">Comments</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>&copy; @DateTime.Now.Year.ToString() - @SettingsAccessor.Value.AppName</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Log out</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/lib/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js"></script>
        <script src="~/lib/startbootstrap-sb-admin-gh-pages/vendor/popper/popper.min.js"></script>
        <script src="~/lib/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/lib/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/lib/startbootstrap-sb-admin-gh-pages/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/lib/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/lib/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/lib/startbootstrap-sb-admin-gh-pages/js/sb-admin-datatables.min.js"></script>
        <script src="~/lib/jsrender/jsrender.min.js"></script>
        <script src="~/lib/tinymce/tinymce.min.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>
        <script id="tag-template" type="text/x-jsrender">
            <div class="tag-group">
                <input class="is-checked" data-tagid="{{:tagID}}" type="checkbox" name="item.IsSelected" value="true">
                <label for="item_IsSelected">{{:name}} <i class="fa fa-times close-btn" aria-hidden="true" data-tagid="{{:tagID}}"></i></label>
            </div>
        </script>
        <script src="~/js/admin.js"></script>
        @RenderSection("js", false)
    </div>
</body>
</html>
